<div class="list-group">
    <a href="{% url 'trainer_dashboard' %}" class="list-group-item">Dashboard</a>
    <a href="#" class="list-group-item">Profile</a>
    <a href="#" class="list-group-item">Assigned Subscriber</a>
    <a href="#" class="list-group-item">Payment</a>
    <a href="#" class="list-group-item">Change Password</a>
    <a href="#" class="list-group-item">Messages <span class="float-end badge bg-info mt-1">123</span></a>
    <a href="#" class="list-group-item">Notifications <span class="float-end badge bg-info mt-1">123</span></a>
</div>