<!DOCTYPE html>
{% extends 'gym/main.html' %}

{% load static %}
{% block content %}
<!-- Main Start -->
<main>
    <!-- Services -->
    <section class="container my-4">
        <h1 class="text-center mb-4 section-heading border-bottom pb-2">{{gallery.title}} Images</h1>
        <div class="row">
            {% for gimg in gallery_imgs %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <a href="{{gimg.img.url}}" data-lightbox="gallery"><img src="
						{{gimg.img.url}}" class="img-thumbnail" alt="{{gimg.alt_text}}"></a>
                    
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
    <!-- End -->
</main>
<!-- End 
<img src="{{gimg.img.url}}" class="card-img-top" alt="{{gimg.alt_text}}">-->

<!-- LightBox css 
<link rel="stylesheet" type="text/css" href="{% static 'lightbox2-2.11.3/dist/css/lightbox.min.css' %}" />

--><!-- LightBox Js -->


{% endblock %}