<div class="list-group">
    <a href="#" class="list-group-item {% if request.path == '/#' %}  active {% endif %}">Dashboard<span class="float-end badge bg-info mt-1"></span></a>
    <a href="{% url 'update_profile' %}" class="list-group-item {% if request.path == '/update_profile' %}  active {% endif %}">Profile<span class="float-end badge bg-info mt-1"></span></a>
    <a href="#" class="list-group-item {% if request.path == '/#' %}  active {% endif %}">Change Password<span class="float-end badge bg-info mt-1"></span></a><!--problem in redirect-->
    <a href="{% url 'notifs' %}" class="list-group-item {% if request.path == '/notifs' %} active {% endif %}">Notifications <span class="float-end badge bg-info mt-1">{{total_unread}}</span></a>
    <a href="#" class="list-group-item">Messages</a>
</div>