<nav class="navbar navbar-dark bg-dark">

    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Stiff Fit</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"></li><a href="#">Home</a></li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="gym/Trainer.html">Trainer<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Best Trainer</a></li>
              <li><a href="#">Regular Trainer</a></li>
            </ul>
        </li>

        <li><a href="gym/Trainee.html">Trainee</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="gym/register.html"><span class="user"></span> Sign Up</a></li>
        <li><a href="gym/login.html"><span class="log-in"></span> Login</a></li>
      </ul>
    </div>
  </nav>