{%  include 'gym/main.html' %}
{% load static %}

<br>
<div class="row"  >
    <div class="col-md-5">
        <h5>TRAINEES:</h5>
        <hr>
        <div class="card card-body">
            <a class="btn btn-primary btn-sm btm-block"href="">Enter as TRAINEES
            </a>
            <table class="table table-sm">
                <tr>
                    <th>Trainee</th>
                    <th>Packages</th>
                </tr>
            </table>
        </div>
    </div>
</div>

<div class="row"  >
    <div class="col-md-5">
        <h5>TRAINEE'S INFORMATION:</h5>
        <hr>
        <div class="card card-body">
            <a class="btn btn-primary btn-sm btm-block"href="">Enter as TRAINEES
            </a>
            <table class="table table-sm">
                <tr>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Height</th>
                    <th>Weight</th>
                    <th>Email</th>
                    <th>Contact no.</th>

                </tr>
            </table>
        </div>
    </div>
</div> 

<div class="row"  >
    <div class="col-md-5">
        <h5>TRAINEE'S PROGRESS:</h5>
        <hr>
        <div class="card card-body">
            <a class="btn btn-primary btn-sm btm-block"href="">Enter as TRAINEES
            </a>
            <table class="table table-sm">
                <tr>
                    <th>Name</th>
                    <th>Completed Training</th>
                    <th>Pending Training</th>
                    <th>Suggestions</th>
                    

                </tr>
            </table>
        </div>
    </div>
</div>  



{%  include 'gym/footer.html' %}
